* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    padding: 15px;
    display: flex;
}
.categoriesList {
    background-color: black;
    color: aliceblue;

}
.categoryItem {
    width: 100px;
    padding: 20px;
    text-align: center;
    cursor:pointer;
}
.categoryItem:hover {
    background-color: #4d4c4c;
    color: coral;
}
.products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productItem {
    width: 100px;
    padding: 5px;
    text-align: center;
    cursor:pointer;

}
.productItem:hover {
    font-weight: bold;
}
.productInfo {
    width: 200px;
    padding: 10px;
    text-align: center;

}
.buyButton,
.orderBtn,
.okBtn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border:none;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
.buyButton:hover,
.orderBtn:hover,
.orderInfoBtn:hover,
.okBtn:hover {
    background-color: #4d4c4c;
    color: coral;
}
.orderInfoBtn {
    width: 100px;
    margin-left:15px;
    padding: 10px;
    border:none;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
.modal-wrapper {
    display: flex;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    justify-content: center;
    align-items: center;
}
.modal-form {
    display: block;
    width: 300px;
    position: fixed;
    z-index: 99;
    background-color: #bbbaba;

}
.form-wrapper,
.ordered-data {
    padding: 10px;
}
input:invalid,
select:invalid {
    border: 1px dashed red;
}

input:invalid:required,
select:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 1px solid black;
}

.orderedProductWrapper {
    width: 200px;
    padding: 15px;
}
.order-details {
    font-size: 0.6rem;
    color: #3f3e3e;
    cursor: pointer;
    text-decoration: underline;
}
.order-date {
    font-size: 0.6rem;
    color: #3f3e3e;
}
.ordered-info {
    font-size: 0.8rem;
}
.ordered-name {
    display: flex;
    justify-content: space-between;
}
.delete-order-btn{
    font-size: 0.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.buyer-data {
    font-size: 0.8rem;
    padding: 5px;
}